.App {
  text-align: center;
}

.create-form {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 max-width: 600px;
 margin: 0 auto;
}

.create-form > * {
  margin-top: 10px;
  padding: 10px;
}

textarea {
  font-family: sans-serif;
}